---
layout: page
title: Contact
display: 4
---

<ul class="contacts">
  {% for contact_item in site.data.contact_items %}
    <li class="contacts-item">
      <a href="{{ contact_item.url }}">
        {% include svg/{{ contact_item.svg_name }} %}
      </a>
    </li>
  {% endfor %}
  <li class="contacts-item">{% include svg/twitter.svg %}</li>
  <li class="contacts-item">{% include svg/stackoverflow.svg %}</li>
  <li class="contacts-item">{% include svg/facebook-square.svg %}</li>
  <li class="contacts-item">{% include svg/mail.svg %}</li>
  <li class="contacts-item">{% include svg/linkedin.svg %}</li>
</ul>






