<header class="masthead">
  <div class="banner"></div>
  <div class="container">
    <a class="logo-wrap" href="/">
      <img class="logo" src="{{ site.your_img }}" alt="Brandon Schmalz">
      <span class="logo-popup">{{ site.your_name }}</span>
    </a>
    <ul class="nav">
      {% assign nav_pages = (site.pages | where: "layout", "page" | sort: 'display') %}
      {% for node in nav_pages %}
        {% if node.title == page.title %}
          <li  class="active">
            <a href="{{ node.url }}">{{ node.title }}</a>
          </li>
        {% else %}
          <li>
            <a href="{{ node.url }}">{{ node.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</header>
