// About page
//
// Update components from the about page

.About { position: relative; }

.About > h1 { 
  font-family: $font-family-heading;
  margin-top: 1.75rem;
}

.About > h1,
.about-item {
  text-align: center;
  
  @media (min-width: $break-point-mobile) {
    text-align: left;
  }
}

.About > h1 > small {
  color: #ccc;
}

.about-item {
  padding: 0.75rem 0;

  @include clearfix;
}

.about-img {
  margin: 1rem auto;
  border-radius: 50%;
  border: 1px solid $base-color;
  height: 100px;
  width: 100px;

  @media (min-width: $break-point-mobile) {
    margin: 0 1rem 0 0;
    float: left;
  }
}

.about-img > img {
  border: 3px solid #fff;
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.about-info > h3 { margin: 0; }

