// About page
//
// Update components from the about page

.About > h1 { 
  font-family: $font-family-heading;
  margin-top: 1.75rem;
  margin-bottom: 1.5rem;
}

.About > h1,
.about-item {
  text-align: center;
  
  @media (min-width: $break-point-mobile) {
    text-align: left;
  }
}

.About > h1 > small {
  color: #ccc;
}

.about-item {
  padding: 0.75rem 0;

  @include clearfix;
}

.about-img {
  margin: 1rem auto;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  box-shadow: $box-shadow-images;

  @media (min-width: $break-point-mobile) {
    margin: 0 1rem 0 0;
    float: left;
  }
}

.about-img > img {
  border: 2px solid rgba(255,255,255, 0.3);
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.about-info > h3 { 
  margin: 0;
  font-size: 1rem;
}

.about-info {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $break-point-mobile) {
    max-width: 100%;
  }
}

