// About page
//
// Update components from the about page

.About {
	font-family: $font-family-heading;
}

.about-item {
	border-top: 1px solid $base-color-muted;
	padding: 0.5rem 0;

	@include clearfix;
}

.about-item > img {
	float: left;
	margin-right: 0.5rem;
	border: 3px solid $base-color;
	border-radius: 50%;
}

.about-info > h3 {
	margin: 0;
}

.about-info > p {
	font-size: 0.85rem;
}