// Contact
//
// Styles related to the Conact page.

.Contact {
  margin: 2rem 0;
}

//Social SVG icon background color
.outer-shape {
  fill: $base-color !important;
}

.custom-icon {
  border-radius: 50%;
  box-shadow: 0 1px 5px rgba(0,0,0,.2);
}

.contacts {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.contacts-item {
  flex: 1;
}

.contacts-item + .contacts-item {
  margin-left: 1rem;
}
