// Contact
//
// Styles related to the Conact page.

//Social SVG icon background color
.outer-shape {
  fill: $base-color !important;
}

.custom-icon {
  border-radius: 50%;
  box-shadow: $box-shadow-images;
}

.contacts {
  list-style: none;
  padding: 0;
}

.contacts-item {
  text-align: center;
  display: inline-block;
}

.contacts-item > a {
  border-bottom: 0;
  height: 100px;
  width: 100px;
}

.contacts-item + .contacts-item {
  @media (min-width: $break-point-desktop) {
    margin-left: 0.75rem;
  }
}