// Contact
//
// Styles related to the Conact page.

.Contact {
  margin: 2rem 0;
}

//Social SVG icon background color
.outer-shape {
  fill: $base-color !important;
}

.custom-icon {
  border-radius: 50%;
  box-shadow: 0 1px 5px rgba(0,0,0,.2);
}

.contacts {
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 0;
}

.contacts-item {
  //flex: 1;
}

.contacts-item + .contacts-item {
  margin-left: 1rem;
}
