// Header
//
// Styles specific to the elements contained in the header

.masthead {
  position: relative;
  padding-top: 1.5rem;
  text-align: center;

  @media (min-width: $break-point-desktop) {
    text-align: right;
  }
}

.banner {
  position: absolute;
  top: 0;
  height: 90px;
  width: 100%;
  //box-shadow: 0px 1px 5px 0px rgba(35,35,35, 0.25);
  background-color: $base-color;
  border-top: 3px solid $base-color-darken;
  box-shadow: 0 3px 3px rgba(35,35,35,0.1);
  z-index: -1;
}

.logo,
.logo-img {
  height: 90px;
  width: 90px;
}

.logo {
  border-bottom:0;
  position: relative;

  @media (min-width: $break-point-desktop) {
    float: left;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 86px;
    width: 86px;
    border: 2px solid #fff;
    border-radius: 50%;
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    transform: scale(0.85);
    opacity: 0;
    -webkit-transition: top 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: top 0.3s, opacity 0.3s, -moz-transform 0.3s;
    transition: top 0.3s, opacity 0.3s, transform 0.3s;
  }

  &:hover::after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.logo-img {
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 3px rgba(35,35,35,0.1);
}

.nav {
  list-style: none;
  margin: 1rem 0 0;
  padding: 0;

  @media (min-width: $break-point-desktop) {
    margin: 0;
    padding: 1.5rem 0;
  }
}

.nav > li {
  position: relative;
  display: inline-block;
}

.nav > li + li {
  margin-left: 0.75rem;
}

.nav > li > a {
  font-family: $font-family-heading;
  color: $link-color-primary;
  font-weight: 300;
  text-rendering: optimizeLegibility;

  &:hover {
    text-decoration: none;
  }

  @media (min-width: $break-point-desktop) {
    color: #fff;
    border: none;
  }
}

/*
.hover-effect  a::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fff;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.2s, height 0.2s;
  -moz-transition: opacity 0.2s, height 0.2s;
  transition: opacity 0.2s, height 0.2s;
}

.hover-effect a:hover::before {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
  height: 3px;
}*/

.hover-effect a::before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  transition: transform 0.2s;
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  transform: scale(0.85);
}

.hover-effect a::before {
  opacity: 0;
  -webkit-transition: top 0.2s, opacity 0.2s, -webkit-transform 0.2s;
  -moz-transition: top 0.2s, opacity 0.2s, -moz-transform 0.2s;
  transition: top 0.2s, opacity 0.2s, transform 0.2s;
}

.hover-effect a:hover::before,
.hover-effect a:focus::before {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}

.hover-effect a:hover::before,
.hover-effect a:focus::before {
  top: 0;
  opacity: 1;
}

.nav > li.active {
  border-bottom: 1px solid $base-color;

  @media (min-width: $break-point-desktop) {
    border-bottom: 0;
  }
}

.nav > li.active::after {

  @media (min-width: $break-point-desktop) {
    content: "";
    position: absolute;
    top: 98%;
    width: 0px;
    height: 0px;
    border-top: 8px solid $base-color;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    left: 50%;
    margin-left: -10px;
  }
}

.header-divider {
  @media (min-width: $break-point-desktop) {
    border-top: 0;
    margin: .75rem 0;
  }
}


