// Header
//
// Styles specific to the elements contained in the header

.masthead {
  position: relative;
  padding-top: 1.5rem;
  text-align: center;

  @media (min-width: $break-point-mobile) {
    text-align: right;
  }
}

.banner {
  position: absolute;
  top: 0;
  height: 95px;
  width: 100%;
  box-shadow: 0px 1px 5px 0px rgba(35,35,35, 0.25);
  background-color: $base-color;
  z-index: -1;
}

.logo-wrap {
    position: relative;
}

.logo-wrap:hover > .logo-popup {
    display: block;
}

.logo {
  height: 100px;
  width: 100px;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: $box-shadow-images;
  @media (min-width: $break-point-mobile) {
    float: left;
  }
}

.logo-popup {
  display: none;
  position: absolute;
  left: 108px;
  top: 50%;
  margin-top: -1.5em;
  padding: 0.5em 0.75em;
  border-radius: 0.25em;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  background-color: $base-color-muted;
}

.logo-popup::before {
    content: "";
    position: absolute;
    top: 50%;
    width: 0px;
    height: 0px;
    border-top: 8px solid transparent;
    border-right: 8px solid $base-color-muted;
    border-bottom: 8px solid transparent;
    left: 0;
    margin-top: -7px;
    margin-left: -7px;
}

.nav {
  list-style: none;
  margin: 1rem 0 0;
  padding: 0;

  @media (min-width: $break-point-mobile) {
    margin: 0;
    padding: 1.75rem 0;
  }
}

.nav > li {
  position: relative;
  display: inline-block;
}

.nav > li + li {
  margin-left: 0.5rem;
}

.nav > li > a {
  font-family: $font-family-heading;
  color: $link-color-primary;
  font-weight: 300;
  text-rendering: optimizeLegibility;

  &:hover {
    text-decoration: none;
  }

  @media (min-width: $break-point-mobile) {
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0,0,0, 0.3);
  }
}

.nav > li.active {
  border-bottom: 1px solid $base-color;

  @media (min-width: $break-point-mobile) {
    border-bottom: 0;
  }
}

.nav > li.active:after {

  @media (min-width: $break-point-mobile) {
    content: "";
    position: absolute;
    top: 98%;
    width: 0px;
    height: 0px;
    border-top: 8px solid $base-color;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    left: 50%;
    margin-left: -10px;
  }
}

.header-divider {
  @media (min-width: $break-point-mobile) {
    border-top: 0;
  }
}
