// Variables
//
// Global variables for easy color, font and layout changes

//Themes

$theme-color-red        : #D24D57;
$theme-color-green      : #16A085;
$theme-color-blue       : #227183;

// Colors
$base-color             : $theme-color-green;
$base-color-darken      : darken($base-color, 5%);
$base-color-muted       : rgba( $base-color, .25 );
$base-color-tags        : rgba( $base-color, .65 );

$secondary-color-gray   : #ecf0f1;

$link-color-primary     : $base-color;
$type-color-primary     : #333;
$type-color-muted       : #95a5a6;

// Global font size
$font-size-mobile       : 16px;
$font-size-desktop      : 20px; 

// Font stack
$font-family-heading    : "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-copy       : "PT Serif", Georgia, serif;
$font-family-code       : Menlo, Monaco, "Courier New", monospace;

// Break Point 
$break-point-desktop    : 48rem; //(16px x 48rem = 768px)

// Box-shadow
$box-shadow-images      : none; //0px 0px 5px 0px rgba(35, 35, 35, 0.25);
