---
layout: default
---

<article class="post">
  <h2 class="post-title">{{ page.title }}</h2>
  <p class="post-date">{{ page.date | date: '%B %d, %Y' }} - 
    {% for tag in page.tags %}
      <span class="tags-item">{{ tag }}</span>
    {% endfor %}
  </p>
  {{ content }}
</article>
<hr>

{% include feedback.html %}

<aside class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li class="related-posts-item">
        <a href="{{ site.url }}{{ post.url }}">
          {{ post.title }}
        </a>
        <small>{{ post.date | date: '%B %d, %Y' }}</small>
      </li>
    {% endfor %}
  </ul>
</aside>
